/*Css Dien May*/
.site-header-cart .cart-contents{
    padding: 0.618em 0;
}
.main-navigation ul li a, ul.menu li a{
    color: #323232;
}
.topHeader{
    padding: 20px 0px;
}
.storefront-product-section .section-title{
    font-weight: 600;
}
.hentry .storefront-hero__button-edit, .hentry .entry-header{
    display: none;
}
ul.products li.product .woocommerce-loop-product__title, ul.products li.product h2, ul.products li.product h3{
    font-weight: 600;
}
/*End Css Dien May*/